
# Ignorar arquivos duplicados fora da pasta principal
Form*.cs
Form*.Designer.cs
Form*.resx
Program.cs
Properties/
Resources/
WinFormsApp7.csproj

# Padrão Visual Studio / .NET
bin/
obj/
*.user
*.suo
*.cache
*.pdb
*.exe
*.dll
*.log
.vs/


